body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #eaf4ff;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  width: 420px;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: white;
  outline: none;
}

form button {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  background-color: #7fb3ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.completed {
  background-color: #a8e6cf;
}

.task-text {
  flex: 1;
  color: #2c3e50;
}

.actions {
  display: flex;
  gap: 8px;
}

.check-btn {
  background: #a8e6cf;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.delete-btn {
  background: #ffb3b3;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}